@import './base.css';
@import './admin-theme.css';

:root {
  color-scheme: light;
  --color-background: #ffffff;
  --color-text: #000000;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
}

#app {
  max-width: none;
  margin: 0;
  padding: 0;
}
